.table-con{
   
    margin-top: 20px;
}
.raleway-td-uing {
    text-align: center;
    font-size: large;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
  .raleway-th-uing {
    text-align: center;
    font-size: large;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }
