/* Add this to your App.css or any relevant CSS file */

/* General styles for images */
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.image-container img {
  max-width: 100%;
  height: auto;
  flex: 1 1 auto; /* Allow the image to grow and shrink */
  margin: 10px; /* Add some spacing between images */
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .image-container img {
    max-width: 45%; /* Reduce the size of the images */
    flex: 1 1 45%;
  }
}

@media (max-width: 480px) {
  .image-container img {
    max-width: 90%; /* Further reduce the size for very small screens */
    flex: 1 1 90%;
  }
}


body {
  position: relative;
  min-height: 100vh;
  margin: 0;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/public/PantryPalLogo.png'); /* Update with the correct path to your logo */
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 0.1; /* Adjust the opacity for watermark effect */
  pointer-events: none; /* Ensure the watermark does not interfere with other elements */
  z-index: -1; /* Ensure it stays in the background */
}