/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */

/* .raleway-<uniquifier> {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

/* .kurale-regular {
  font-family: "Kurale", serif;
  font-weight: 400;
  font-style: normal;
} */

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 400 */

/* .playwrite-nz-<uniquifier> {
  font-family: "Playwrite NZ", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */